<app-navbar></app-navbar>

<!-- <app-user-navbar></app-user-navbar> -->
<br>
<div class="container">
    <div class="row">
        <div style="float:right" class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Account Name</h3>
                    <h2 class="text-right"><i class="f-left">
                            <img src="https://img.icons8.com/clouds/45/000000/guest-male.png" />
                        </i><span>{{account.account_name}}</span></h2>
                </div>
            </div>
        </div>
        <div style="float:right" class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Account Number</h3>
                    <h2 class="text-right"><i class="f-left">
                            <img src="https://img.icons8.com/color/45/000000/dialing-phone.png" />
                        </i><span>{{account.acc_number}}</span></h2>
                </div>
            </div>
        </div>
        <div style="float:right" class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Account Balance</h3>
                    <h2 class="text-right"><i class=" f-left">
                            <img src="https://img.icons8.com/cute-clipart/35/000000/wallet-app.png" />
                        </i><span> {{account.account_balance|currency:'Ksh '}}</span></h2>
                </div>
            </div>
        </div>
        <div style="float:right" class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h3 class="m-b-20">Deposit Money</h3>
                    <h1 class="text-right"><i class=" f-left">
                            <img src="https://img.icons8.com/color/45/000000/cash-.png" />
                        </i><span style="cursor: pointer;" data-toggle="modal" data-target="#amount">
                            <i class="fa fa-plus-circle"></i>
                        </span></h1>
                </div>
            </div>
        </div>
    </div>



    <!-- transactions -->

    <div class="row mt-3">
        <div class="col-md-6">
            <h3  [ngClass]="{'bg-toggle': showTransactions}"  (click)="toggleComponents()" style="cursor: pointer;">Transactions</h3>
        </div>
        <div class="col-md-6">
            <h3   [ngClass]="{'bg-toggle': showInsights}" (click)="toggleComponents()" style="cursor: pointer;">Insights</h3>
        </div>

        <div class="col-12"  *ngIf='showTransactions'>
            <table class="table">
                <thead class="thead-dark2">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Account No.</th>
                        <th scope="col">Account Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>

                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions; index as i">
                        <td>{{ i+1 }}</td>
                        <td>{{ transaction.recipient_account}}</td>
                        <td>{{ transaction.recipient_name}}</td>
                        <td>{{ transaction.category.name }}</td>
                        <td>{{ transaction.amount}}</td>
                        <td>{{ transaction.trans_date | date:'short'}}</td>

                    </tr>

                </tbody>
            </table>
        </div>

         <!-- insights -->
         <div class="col-12" *ngIf='showInsights' >
            <app-analytics ></app-analytics>
          </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="amount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Deposit Money</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <!-- form -->
                    <form [formGroup]="form" (ngSubmit)='submit()'>
                        <div class="form-group">
                            <input type="number" class="form-control " formControlName="account_balance" id="amount" placeholder="Amount">
                        </div>
                        <small class="help-block" *ngIf="!form.get('account_balance').valid && form.get('account_balance').touched">
                                   
                      Please enter the amount!
                    </small>

                        <button type="submit" class="btn btn-primary">Deposit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




</div>