<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- category name bar -->
            <div class="category-name">
                    Food and Restaurant
            </div>
        </div>
        <div class="col-12">
             <div class="row">
                 <div class="col-6">
                     <div class="transaction-btn t-active">
                        Transactions
                     </div>
                 </div>
                 <div class="col-6">
                    <div class="transaction-btn">
                       Insights
                    </div>
                </div>
                 
             </div>
        </div>
      
    </div>
  
</div>