<div id="sect1" class="container-fluid">

<div class="container ">
  <h2 class="text-center text-white p-2 pt-4">Digital360 Admin Register</h2>
  <div class="row m-4">
    <div class="col-md-6 col-sm-12 bg-custom none" >
    <img class="image" src="assets/register.svg" alt="">
    </div>
    <div class="col-md-6 col-sm-12 bg-custom-form"style="background: rgba( 255, 255, 255, 0.25 );backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );">
      <p class="text-center mb-0 pt-4" style="color: white;">Register</p>

      <form [formGroup]="form" (submit)="submit()">
        <div class="form-group">
            <label>First Name</label>
            <input formControlName="first_name" class="form-control"  type="text"  id="first_name" name="name" required>
            
        </div>
        <small class="help-block" *ngIf="!form.get('first_name').valid && form.get('first_name').touched">
           
            Please enter first name!
      </small> 
        <div class="form-group">
            <label>Last Name</label>
            <input formControlName="last_name" class="form-control" type="text"  id="last_name" name="name" required>
            
        </div>
        <small class="help-block" *ngIf="!form.get('last_name').valid && form.get('last_name').touched">
           
            Please enter last name!
      </small> 
        <div class="form-group">
            <label>Username</label>
            <input formControlName="username" class="form-control"  type="text" id="username" name="username" required>
            
        </div>
        <small class="help-block" *ngIf="!form.get('username').valid && form.get('username').touched">
           
            Please enter username!
      </small> 
    
        <div class="form-group">
            <label>Email</label>
            <input formControlName="email" class="form-control"  type="email"  id="email" name="email" required>
            
        </div>
        <small class="help-block" *ngIf="!form.get('email').valid && form.get('email').touched">
           
            Please enter username!
      </small> 
        <div class="form-group">
            <label>Phone Number</label>
            <input formControlName="phone_number" class="form-control"  type="tel" id="number" name="name" maxlength="10" required>
            
        </div>

         <small class="help-block" *ngIf="!form.get('phone_number').valid && form.get('phone_number').touched">
           
            Please enter phone number!
      </small> 
        <div class="form-group">
            <label>password</label>
            <input formControlName="password" class="form-control" type="password" id="password" name="password" required>
            
        </div>
        <small class="help-block" *ngIf="!form.get('password').valid && form.get('password').touched">
           
            Please enter password!
      </small> 
      <div *ngIf='loading' class="mt-3">
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
      </div>
        <div class="myform-button">
            <button class="myform-btn btn btn-custom mb-3 mt-3" type="submit">Register</button>
        </div>
        <div class="form-content">
                <a routerLink="/adminlogin"><button type="button" class="btn btn-outline-light">Login Now !</button></a>   
        </div>
        <br>
    </form> 


    </div>
  </div>
</div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill=" #51bbb0  "
    fill-opacity="1"
    d="M0,0L60,42.7C120,85,240,171,360,181.3C480,192,600,128,720,101.3C840,75,960,85,1080,80C1200,75,1320,53,1380,42.7L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
  ></path>
</svg>    
    
    
    
    
    
    
    
    
   