<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
   
    <section class="myform-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    
                    <div class="form-area login-form">
                        <div class="form-content">
                            <h2>Admin Registration Form</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla non aperiam cum quas quod reprehenderit.</p>
                            <ul>
                                <li>
                                    <a routerLink="/" class="facebook">
                                        
                                          <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                            </svg>  
                                          </span>
                                          <i></i>
                                        <span>User Login</span>
                                    </a>
                                </li>
                            </ul>
                            

                        </div>
                        <div class="form-input">
                            <h2>Admin Registration</h2>
                            <form >
                                <div class="form-group">
                                    <input formControlName="first_name"  type="text"  id="first_name" name="name" required>
                                    <label>First Name</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="last_name" type="text"  id="last_name" name="name" required>
                                    <label>Last Name</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="username"  type="text" id="username" name="username" required>
                                    <label>Username</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="email"  type="email"  id="email" name="email" required>
                                    <label>Email</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="phone_number"  type="number"  id="phone_number" name="name" required>
                                    <label>Phone Number</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="password"  type="password" id="password" name="password" required>
                                    <label>password</label>
                                </div>
                                
                                <div class="myform-button">
                                    <button class="myform-btn" type="submit" routerLink="/adminlogin"  >Register</button>
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>