<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
   
    <section class="myform-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    
                    <div class="form-area login-form">
                        <div class="form-content">
                            <h2>Almost There</h2>
                            <p>In this digital age, where many businesses interact online with customers, trust plays an even more integral role as protecting digital data becomes central to the success of a business.</p>
                            
                        </div>
                        <div class="form-input">
                            <h2>Activation Form</h2>
                            <form [formGroup]="activationForm" (ngSubmit)='onsubmit()' enctype="multipart/form-data">  
                                <div class="form-group">
                                    <input 
                                      type="number"  
                                      id="nat_id" 
                                      formControlName="identification_number"

                                      required>
                                    <label>National ID or Passport Number</label>
                                </div>
                                <div class="form-group">
                                    <label>National ID or Passport Image</label><br><br>
                                    <input 
                                       type="file"  
                                       id="nat_id_img" 
                                       name="identification_doc" (change)="onChange($event)"
                                       formControlName="identification_doc" 
                                       required> 
                                </div>
                                <div class="form-group">
                                    <label>Personal Photo</label><br><br>
                                    <input 
                                        type="file"  
                                        id="passport_photo" 
                                        name="passport_photo" (change)="onChange1($event)"
                                        formControlName="passport_photo" 
                                        required> 
                                </div>
                                <div class="form-group">
                                    <label>Driving License Image</label><br><br>
                                    <input 
                                        type="file"  
                                        id="driving_license_picture" 
                                        name="driving_license_picture" (change)="onChange2($event)"
                                        formControlName="driving_license_picture" 
                                        > 
                                </div>
                                <div class="form-group">
                                    <input 
                                    type="text"  
                                    id="KRA_pin" 
                                    formControlName="KRA_pin" 
                                    required>
                                    <label>KRA PIN</label>
                                </div>
                                <div class="form-group">
                                    <input 
                                      type="text"  
                                      id="residence" 
                                      formControlName="residence" 
                                      required>
                                    <label>County Of Residency</label>
                                </div>
                                <div class="myform-button">
                                    <button 
                                    class="myform-btn" 
                                    type="submit">Activate</button>
                                </div>                          
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>