
    <section class="myform-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    
                    <div class="form-area login-form">
                        <div class="form-content">
                            <h2>Almost There</h2>
                            <p>In this digital age, where many businesses interact online with customers, trust plays an even more integral role as protecting digital data becomes central to the success of a business.</p>
                            
                        </div>
                        <div class="form-input">
                            <h2>Activation Form</h2>
                            <!-- on invalid form -->
                            <div *ngIf="submitted && !activationForm.valid"  class="alert alert-danger alert-dismissible my-2" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <small>Invalid form, please provide all the required details.</small>
                            </div>

                            <!-- on server_errors -->
                            <div *ngIf="server_errors"  class="alert alert-danger alert-dismissible my-2" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
                                <small>Documents have already been uploaded wait for approval.</small>
                            </div>

                            <!-- form -->
                            <form *ngIf='success_submit' [formGroup]="activationForm" (ngSubmit)='onsubmit()' enctype="multipart/form-data">  
                                <div class="form-group">
                                    <input 
                                      type="number"  
                                      id="nat_id" 
                                      formControlName="identification_number"

                                      required>
                                    <label>National ID or Passport Number</label>
                                </div>
                                <!-- identification_number errors msgs -->
                                <small class="help-block" *ngIf="!activationForm.get('identification_number').valid && activationForm.get('identification_number').touched">
                                   
                                        Please enter National ID or Passport Number!
                                  </small>  
                                


                                <div class="form-group">
                                    <label>National ID or Passport Image</label><br><br>
                                    <input 
                                       type="file"  
                                       id="nat_id_img" 
                                       name="identification_doc" (change)="onChange($event)"
                                       formControlName="identification_doc" 
                                       required> 
                                </div>
                                   <!-- identification_doc errors msgs -->
                                <small class="help-block" *ngIf="!activationForm.get('identification_doc').valid && activationForm.get('identification_doc').touched">
                                   
                                    Please upload National ID or Passport Number image!
                              </small>  
                             
                                <div class="form-group">
                                    <label>Personal Photo</label><br><br>
                                    <input 
                                        type="file"  
                                        id="passport_photo" 
                                        name="passport_photo" (change)="onChange1($event)"
                                        formControlName="passport_photo" 
                                        required> 
                                </div>
                                <small class="help-block" *ngIf="!activationForm.get('passport_photo').valid && activationForm.get('passport_photo').touched">
                                   
                                    Please upload a Personal Passport image!
                              </small>  
                               

                                <div class="form-group">
                                    <label>Driving License Image</label><br><br>
                                    <input 
                                        type="file"  
                                        id="driving_license_picture" 
                                        name="driving_license_picture" (change)="onChange2($event)"
                                        formControlName="driving_license_picture" 
                                        > 
                                </div>
                                
                                <div class="form-group">
                                    <input 
                                    type="text"  
                                    id="KRA_pin" 
                                    formControlName="KRA_pin" 
                                    required>
                                    <label>KRA PIN</label>
                                </div>
                                <small class="help-block" *ngIf="!activationForm.get('KRA_pin').valid && activationForm.get('KRA_pin').touched">
                                   
                                    Please enter KRA pin!
                              </small>  
                                
                                <div class="form-group">
                                    <!-- <input 
                                      type="text"  
                                      id="residence" 
                                      formControlName="residence" 
                                      required>
                                    <label>Residence</label> -->
                                    <select id="residence" formControlName="residence"  class="form-control my-3" >
                                        <option [ngValue]="null" disabled>Choose County of Residence</option>
                                           <option *ngFor="let county of counties" [ngValue]="county">{{county}}</option>
                                    </select>
                                </div>
                                <small class="help-block" *ngIf="!activationForm.get('residence').valid && activationForm.get('residence').touched">
                                   
                                    Please current residence!
                              </small>  
                              <div *ngIf='loading' class="mt-3">
                                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                              </div>
                               
                                <div class="myform-button">
                                    <button 
                                    class="myform-btn" 
                                    type="submit">Submit</button>
                                </div> 
                             
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


