<app-adminnavbar></app-adminnavbar>

<div class="container my-3">
   
    <div class="card mb-3" style="width: 100%;" *ngIf="details.identification_number; else notifySendDocs">
        <div *ngIf="!loading">
            <div class="card-header">
                Details for Username: <strong> {{ details.user.username | titlecase}}</strong>
       
                <button class="btn btn-sm btn-primary ml-2 float-right" (click)="activateDocuments(details.user.phone_number)">
                   Approve
                </button> 
                <!-- declineUploadDocuments -->
                <button class="btn btn-sm btn-danger float-right" (click)="declineUploadDocuments(details.user.phone_number)">
                    Decline
                 </button>
               </div>
               <ul class="list-group list-group-flush" *ngIf="details.identification_number">
                 <li class="list-group-item">
                       ID/Passport No.:
                   <strong>
                       {{ details.identification_number}}
                   </strong>
                 </li>
                 <li class="list-group-item">
                   KRA Pin:
                   <strong>
                       {{ details.KRA_pin}}
                   </strong>
                 </li>
                 <li class="list-group-item">
                   County of Residence:
                   <strong>
                       {{ details.residence}}
                   </strong>
                 </li>
                 <li class="list-group-item">
                       Passport Photo:
                           <br>
                       <img width="300px"  height="300px" src="https://res.cloudinary.com/dcllyqc40/{{details.passport_photo}}" alt="details.user.username" class="img-fluid mx-auto d-block">
       
                       
                   </li>
                   <li class="list-group-item">
                       Identification Document:
                           <br>
                       <img width="300px"  height="300px" src="https://res.cloudinary.com/dcllyqc40/{{details.identification_doc}}" alt="details.user.username" class="img-fluid  mx-auto d-block">
       
                   </li>
                   <li class="list-group-item" *ngIf="details.driving_license_picture">
                       Driving License Document:
                           <br>
                       <img width="300px"  height="300px"  src="https://res.cloudinary.com/dcllyqc40/{{details.driving_license_picture}}" alt="details.user.username" class="img-fluid  mx-auto d-block">
       
                   </li>
               </ul>
        </div>
        <div  *ngIf="loading">
            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        </div>
    </div>

    <ng-template #notifySendDocs>
            <div  class="card mb-3 my-2" >
                <button class="btn btn-sm btn-success btn-block" (click)="notifyUploadDocuments(phone_number)">
                    Notify user to upload verification documents
                </button>
            </div>
    </ng-template>

</div>
