<app-adminnavbar></app-adminnavbar>
<div class="container mt-3">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Approve</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ user.first_name}}</td>
                    <td>{{ user.last_name}}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email}}</td>
                    <td>{{ user.phone_number}}</td>
                    <td>
                            <!-- <a href="/lorem/{{user.phone_number}}">user</a> -->
                            <a class="btn btn-outline-info btn-sm" [routerLink]="['/userdetails',user.phone_number]">
                                Verify  <i class="fa fa-eye ml-2" aria-hidden="true"></i>
                            </a>
                    </td>
            </tr>
        </tbody>
      </table>

</div>
