<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
   
    <section class="myform-area">
        <div class="container">
            <div class="myform-button">
                                    
                <button type="button" class="btn btn-dark" routerLink="/home" >Cancel </button>
                
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    
                    <div class="form-area login-form">
                        <div class="form-content">
                            <h2>Best Practice</h2>
                            <ul>
                                <li>
                                    <p>Avoid single words, or a word preceded or followed by a single number (e.g. Password1).</p> 
                                </li>
                                <br>
                                <li>
                                    <p>Don’t use information in your password that others might know about you or that’s in your social media (e.g. birthdays, children’s or pet’s names, car model, etc.). If your friends can find it, so will hackers.</p> 
                                </li>
                            </ul>
                        </div>
                        <div class="form-input">
                            <h2>Password or OTP</h2>
                            <form>
                                
                                <div class="form-group">
                                    
                                    <input type="password" id="" name="Password" required>
                                    <label>password</label>
                                </div>
                                <div class="myform-button">
                                    <button class="myform-btn" type="submit"  >Complete</button>
                                </div>
                                
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>