
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- amount balance button -->
            <div class="float-md-right my-3 amt-balance text-center">
                <div class="amt">
                
                        Ksh {{account.account_balance}}
                
                </div> 
                <div class="amt-tag">
                    Amount Balance
                </div>
            </div>
        </div>

        <div class="col-12">
                    <!-- favourites -->
                <div class="favourites my-3 p-2 mx-auto">
                    <p class="favourites-tag">
                        Favourites
                    </p>
                    <div class="favourites-items">
                        <div class="fav-item">
                            <div class="fav-item-inner mx-3">
                                Food & Restaurant
                            </div>
                        </div>
                        <div class="fav-item">
                            <div class="fav-item-inner mx-3">
                                Food & Restaurant
                            </div>
                        </div>
                        <div class="fav-item">
                            <div class="fav-item-inner mx-3">
                                Food & Restaurant
                            </div>
                        </div>
                        <div class="fav-item">
                            <div class="fav-item-inner mx-3">
                                Food & Restaurant
                            </div>
                        </div>
                        <div class="fav-item">
                            <div class="fav-item-inner mx-3">
                                Food & Restaurant
                            </div>
                        </div>
                        <div class="fav-item">
                            <div class="fav-item-inner mx-3">
                                Food & Restaurant
                            </div>
                        </div>
                        <div class="fav-item">
                            <div class="fav-item-inner mx-3">
                                Food & Restaurant
                            </div>
                        </div>
                        <div class="fav-item">
                            <div class="fav-item-inner mx-3">
                                Add <br>
                                <span class="ml-2 add-fav-icon">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                                
                            </div>
                        </div>
                    
                    </div>
            </div>
        </div>
        <div class="col-12 bills my-3 p-2">
            <!-- bills items -->
            <div class="row">
                            <div class="col-md-3">
                <div class="my-3 bill-item text-center">
                    
                    <div class="amt-tag">
                        Food and Restaurant
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-3 bill-item text-center">
                    
                    <div class="amt-tag">
                        Food and Restaurant
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-3 bill-item text-center">
                    
                    <div class="amt-tag">
                        Food and Restaurant
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-3 bill-item text-center">
                    
                    <div class="amt-tag">
                        Food and Restaurant
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-3 bill-item text-center">
                    
                    <div class="amt-tag">
                        Food and Restaurant
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-3 bill-item text-center">
                    
                    <div class="amt-tag">
                        Food and Restaurant
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-3 bill-item text-center">
                    
                    <div class="amt-tag">
                        Add Bill Item
                        <span class="ml-2 add-fav-icon">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        
  
        </div>
    </div>
  

</div>
