.h1-title{
    text-align: center;
    font-size: 190px;
    font-weight: 400;
    margin: 0;
}
.fa{
    font-size: 120px;
    text-align: center;
    display: block;
    padding-top: 100px;
    margin: 0 auto;
    color: #A93226;
}
#error p{
    text-align: center;
    font-size: 36px;
    color: #4A235A;
}
.back{
    text-align: center;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    font-size: 24px;
    background: #BA4A00;
    border-radius: 10px;
    width: 10%;
    padding: 4px;
    color: #fff;
}


@media(max-width:768px){
    p{
        font-size: 18px !important;
    }

    .back{
        width: 32%;
    }
}