<img class="wave" [src]="image5">
<div class="container">
    <div class="img">
        <img [src]="image4">
    </div>
    <div class="login-content">
        <form [formGroup]="form" (submit)="submit()">
            <img [src]="image3">
            <h2 class="title">Login</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <input class="input" formControlName="phone_number" id="phone_number" name="PhoneNumber" type="tel" maxlength="10" placeholder="Phone Number" required>
                </div>

            </div>
            <small class="help-block" *ngIf="!form.get('phone_number').valid && form.get('phone_number').touched">
                Please enter phone number!
            </small>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input formControlName="password" type="password" id="password" name="Password" placeholder="Password" required class="input">
                </div>

            </div>
            <small class="help-block" *ngIf="!form.get('password').valid && form.get('password').touched">
                Please enter password!
            </small>
            <div *ngIf='loading' class="my-3">
                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
            </div>


            <div class="myform-button">
                <button class="myform-btn btn" type="submit">Login</button>
            </div>
            <div class="div">
                <h3>Don't have an account?</h3>
                <button type="button" routerLink="/registration" class="btn1">Create Account!</button>
            </div>
        </form>
    </div>
</div>