  <section class="myform-area">
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-lg-8">
                  
                   <div class="form-area login-form">
                       <div class="form-content">
                           <h2>Login</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla non aperiam cum quas quod reprehenderit.</p>
                       </div>
                       <div class="form-input">
                           <h2>Login Form</h2>
                                 <!-- on invalid form -->
                                 <div *ngIf="submitted && !form.valid"  class="alert alert-danger alert-dismissible my-2" role="alert">
                                   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                   <small>Invalid form, please provide all the required details.</small>
                               </div>
  
                               <!-- on server_errors -->
                               <div *ngIf="server_errors"  class="alert alert-danger alert-dismissible my-2" role="alert">
                                   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                   <small class="my-2">{{server_errors.detail}}</small>
                               </div>
                           <form [formGroup]="form"  (submit)="submit()"  >
                               <div class="form-group">
                                   <input formControlName="phone_number" type="number"  id="phone_number" name="PhoneNumber"  required>
                                   <label>Phone Number</label>
                               </div>
                               <small class="help-block" *ngIf="!form.get('phone_number').valid && form.get('phone_number').touched">
                                 
                                   Please enter phone number!
                             </small>
                               <div class="form-group">
                                   <input formControlName="password" type="password" id="password" name="Password" required>
                                   <label>password</label>
                               </div>
                               <small class="help-block" *ngIf="!form.get('password').valid && form.get('password').touched">
                                 
                                   Please enter password!
                             </small>
                             <div *ngIf='loading' class="mt-3">
                               <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                             </div>
                               <div class="myform-button">
                                   <button class="myform-btn" type="submit"  >Login</button>
 
                               </div>
                               <div class="form-content">
                                   <a routerLink="/registration"><label for="">Sign Up Here!</label></a>  
                               </div>
                              
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
 
 

