<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
   
    <section class="myform-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    
                    <div class="form-area login-form">
                        <div class="form-content">
                            <h2>Start Of A Great Journey</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla non aperiam cum quas quod reprehenderit.</p>
                            
                        </div>
                        <div class="form-input">
                            <h2>Register</h2>
                            <form [formGroup]="form" (submit)="submit()">
                                <div class="form-group">
                                    <input formControlName="first_name"  type="text"  id="" name="name" required>
                                    <label>First Name</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="last_name" type="text"  id="" name="name" required>
                                    <label>Last Name</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="username"  type="text" id="" name="username" required>
                                    <label>Username</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="email"  type="email"  id="" name="email" required>
                                    <label>Email</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="phone_number"  type="number"  id="" name="name" required>
                                    <label>Phone Number</label>
                                </div>
                                <div class="form-group">
                                    <input formControlName="password"  type="password" id="" name="password" required>
                                    <label>password</label>
                                </div>
                                
                                <div class="myform-button">
                                    <button class="myform-btn" type="submit">Register</button>

                                </div>
                                <div class="form-content">
                                    <a routerLink="/"><label for="">Login Now!</label></a>   
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>