
/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f5f5f5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.help-block{
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .table .thead-dark th {
    color: #fff;
    background-color: #51bbb0;
    
    border-color: #f5f5f5;
  }